:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1046%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(13%2c 0%2c 25%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c484.506C116.109%2c504.82%2c240.678%2c592.243%2c342.953%2c533.645C444.309%2c475.574%2c416.131%2c318.255%2c470.562%2c214.898C529.701%2c102.601%2c693.69%2c28.484%2c675.104%2c-97.065C656.497%2c-222.758%2c482.64%2c-251.214%2c388.867%2c-336.956C309.022%2c-409.963%2c265.216%2c-521.52%2c165.357%2c-563.155C60.978%2c-606.674%2c-57.537%2c-597.161%2c-166.988%2c-568.71C-278.808%2c-539.643%2c-388.394%2c-489.371%2c-461.781%2c-400.136C-534.315%2c-311.938%2c-559.105%2c-195.484%2c-567.585%2c-81.606C-575.656%2c26.777%2c-563.367%2c138.359%2c-508.883%2c232.399C-456.943%2c322.048%2c-366.467%2c379.778%2c-273.627%2c425.772C-188.308%2c468.04%2c-93.79%2c468.097%2c0%2c484.506' fill='%23090010'%3e%3c/path%3e%3cpath d='M1920 1512.075C2007.419 1513.787 2091.172 1502.591 2174.439 1475.915 2282.447 1441.313 2436.051 1440.067 2476.048 1333.939 2516.935 1225.449 2376.829 1130.614 2346.773 1018.639 2321.785 925.542 2376.752 811.711 2315.826 737.015 2254.913 662.336 2136.265 684.479 2046.214 650.154 1945.806 611.881 1861.515 500.164 1756.713 523.894 1652.7350000000001 547.437 1622.406 681.069 1552.85 761.863 1483.5810000000001 842.323 1375.8220000000001 895.215 1348.676 997.856 1320.679 1103.711 1344.509 1224.301 1406.712 1314.411 1465.755 1399.943 1574.897 1428.723 1671.886 1466.0729999999999 1752.004 1496.926 1834.163 1510.394 1920 1512.075' fill='%23120022'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1046'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
